
/* ==========================================================================
   General
   ========================================================================== */
 

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  line-height: 1.6;
}

p { color: #666; }

.psmall {
    font-size: 12px;
}

b,
strong {
    font-weight: 700
    color: rgb(58, 58, 58);
}


.div20 {
    padding-bottom: 20px;
}

.onecolumn {
  width:800px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;

}


@media only screen and (max-width: 1000px) {

  .onecolumn {
  width:90%;
  margin: 0 auto;

  }
}

.long {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: 300;
   font-kerning: normal;

 }

a { color: #cc0000; }

a:hover,
a:focus {
  color: #2980b9;
  text-decoration: none;
  outline: none;
}

.padbot {
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

li {
    padding-bottom: 20px;
}

strong { font-weight: 600; }

/* ==========================================================================
   Hero Section
   ========================================================================== */ 

.hero {
  background-color: #F7F7F7;
  padding: 3em 0 4.5em;
  position: relative;
  text-align: center;
}

.logo {
  margin-bottom: 1.5em;
  text-align: center;
}

.welcome-message { margin: 0 0 3em; }

.hero h1 {
  font-size: 41px;
  font-weight: 700;
  color: #333;
  line-height: 1.1;


  
}

.hero h2 {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  font-weight: 300;
}

.learn-more { margin-bottom: .75em; }

.button {
  display: inline-block;
  background: #cc0000;
  padding: 1.125em 3em;
  border-radius: 64px;
  color: #fff;
  border: 1px solid #cc0000;
  -webkit-transition: background 1s linear, border 1s linear;
  transition: background 1s linear, border 1s linear;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
}

.button:hover {
  color: #fff;
  background: #2980b9;
  border: 1px solid #2980b9;
}

.button:focus { color: #fff; }

.button i {
  padding-left: 1em;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.button:hover i {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.button.buy {
  background: transparent;
  color: #cc0000;
  border: 1px solid #cc0000;
  -webkit-transition: color 1s linear;
  transition: color 1s linear;
}

.button.buy:hover {
  border: 1px solid #2980b9;
  color: #2980b9;
}

.action-button p {
  margin: 1.5em 0 0;
  font-size: 15px;
}

.book-cover { margin-top: 3em; }



.title h1 {
  font-size: 41px;
  font-weight: 700;
  color: #333;
  line-height: 1.1;


  
}

.title h2 {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  font-weight: 300;
}


.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav > li {
    position: relative;
    display: block
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav > li.disabled > a {
    color: #777
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #337ab7
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified > li {
    float: none
}

.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0
    }
}

.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus,
    .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #fff
    }
}

.nav-pills > li {
    float: left
}

.nav-pills > li > a {
    border-radius: 4px
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #337ab7
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified {
    width: 100%
}

.nav-justified > li {
    float: none
}

.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%
    }

    .nav-justified > li > a {
        margin-bottom: 0
    }
}

.nav-tabs-justified {
    border-bottom: 0
}

.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus,
.nav-tabs-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width:768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:focus,
    .nav-tabs-justified > .active > a:hover {
        border-bottom-color: #fff
    }
}

.tab-content > .tab-pane {
    display: none
}

.tab-content > .active {
    display: block
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.navbar {
    position: relative;
    min-height: 50px;
    
    border: 1px solid transparent
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }
}

@media (min-width:768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 200px
    }
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header,
.container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header,
    .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media (min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width:768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-brand {
    float: left;
    height: 50px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none
}

.navbar-brand > img {
    display: block
}

@media (min-width:768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none
    }
}

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1)
}

@media (min-width:768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .form-control-static {
        display: inline-block
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn {
        width: auto
    }

    .navbar-form .input-group > .form-control {
        width: 100%
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox label, .navbar-form .radio label {
        padding-left: 0
    }

    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
        position: relative;
        margin-left: 0
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0
    }
}

@media (max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 5px
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0
    }
}

@media (min-width:768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.navbar-btn {
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width:768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }
}

@media (min-width:768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav > li > a {
    color: #777
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus,
.navbar-default .navbar-nav > .disabled > a:hover {
    color: #ccc;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-default .btn-link {
    color: #777
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
    color: #ccc
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #080808
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus,
.navbar-inverse .navbar-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #080808
}

@media (max-width:767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}

.navbar-inverse .btn-link {
    color: #9d9d9d
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #fff
}

.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
    color: #444
}
/* ==========================================================================
   Features
   ========================================================================== */
   
.features.section-spacing { padding: 4.5em 0 2.25em; }

section header h2,
section h2 {
  font-size: 34px;
  margin-top: 0;
  color: #333;
  font-weight: 400;
}

section header h3 {
  font-size: 20px;
  color: #555;
  margin: 0;
  line-height: 1.35;
}

section header { margin-bottom: 3em; }

.features h4 {
  color: #666;
  position: relative;
  margin-top: 1.5em;
  font-weight: 400;
}

.features > .container > .row > div { margin-bottom: 2.25em; }

.features hr {
  background: #cc0000;
  border: none;
  height: 1px;
  width: 20%;
}

/* ==========================================================================
   counter
   ========================================================================== */

.section-spacing { padding: 4.5em 0; }

.counter {
  background: #cc0000;
  color: #fff;
  padding: 4.5em 0;
}

.counter h3 { font-weight: 400; }

.counter p {
  margin-bottom: 0;
  color: #fff;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 1.5em; }

/* ==========================================================================
   Reviews
   ========================================================================== */
   
.reviews,
.prices,
.twitter-feed,
.site-footer { background: #F7F7F7; }

.reviews.section-spacing { padding: 4.5em 0 7.5em; }

.reviews h2 { margin-bottom: 24px; }

.reviews figure { margin: .75em 0; }

.review-slider {
  margin-bottom: 0;
  cursor: pointer;
}

.slick-dots li button:before {
  color: #cc0000;
  opacity: .6;
}

.slick-dots li.slick-active button:before { opacity: 1; }

blockquote {
  font-size: 18px;
  border-left: none;
  margin: 0;
  padding: 24px;
  position: relative;
}

blockquote P { color: #555; }

.slick-slide span {
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 1em;
}

blockquote .fa-quote-left,
blockquote .fa-quote-right {
  position: absolute;
  color: #E4E4E4;
  font-size: 1em;
}

blockquote .fa-quote-left {
  left: 2px;
  top: 0;
}

blockquote .fa-quote-right {
  right: 2px;
  bottom: 0;
}

.reviews img { margin-bottom: .75em; }

.reviews figure h4 { font-weight: 400; }

.reviews figure p {
  margin-bottom: 0;
  font-style: italic;
}

/* ==========================================================================
   Subscription form 
   ========================================================================== */
   

 .form-control::-webkit-input-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control:-moz-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control::-moz-placeholder {
 color: #ABABAB;
 font-weight: 300;
}
 .form-control:-ms-input-placeholder {
 color: #ABABAB;
 font-weight: 300;
}

#mc-form { margin-top: 3em; }

#mc-form input,
.contact-form .form-control { margin-bottom: 1.5em; }

#mc-form > div { position: relative; }

#mc-form i[class*="fa-user"],
#mc-form i[class*="fa-envelope"] {
  position: absolute;
  right: 1em;
  color: #cc0000;
}

#mc-form i[class*="first-name-i"],
#mc-form i[class*="last-name-i"],
#mc-form i[class*="fa-envelope"] { top: 19px; }

.form-control {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  box-shadow: none;
  height: 50px;
  font-weight: 300;
  padding: 6px 40px 6px 16px;
}

.form-control:focus {
  border-color: #CECECE;
  outline: 0;
  box-shadow: none;
}

.btn-default {
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
  -webkit-transition: all .5s linear;
  transition: background-color .5s linear;
  padding: 12px 1.5em;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 64px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #fff;
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn:active:focus,
.btn-default:focus,
.btn:focus,
.btn-default:active { outline: none; }

.sub-form .btn { width: 100%; }

.result { margin: 1.5em 0 0; }

.sub-form-success,
.sub-form-error,
.success-cf p,
.error-cf p {
  padding: 0.75em;
  margin-bottom: 0;
  border-radius: 4px;
}

.sub-form-success,
.success-cf p {
  background: #dff0d8;
  color: #3c763d;
  border: 1px solid rgba(60, 118, 61, 0.18);
}

.sub-form-error,
.error-cf p {
  background: #F1D7D7;
  color: #A95252;
  border: 1px solid rgba(169, 82, 82, 0.18);
}

.sub-form-success i,
.sub-form-error i,
.success-cf i,
.error-cf i { padding-right: .5em; }

/* ==========================================================================
   Pricing
   ========================================================================== */
   
.section-spacing.prices { padding: 4.5em 0 1.5em; }

.plan {
  border: 1px solid #ddd;
  margin-bottom: 3em;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  background: #fff;
}

.plan:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: 0 0 3px 0 #ddd;
}

.plan .header {
  background: #cc0000;
  color: #fff;
  padding: .75em 1em;
}

.plan .header.nerd { background: #2980b9; }

.plan .header h4 { font-weight: 600; }

.currency {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  left: -6px;
  font-weight: 400;
}

.price {
  font-size: 34px;
  font-weight: 600;
}

.period {
  font-size: 16px;
  position: relative;
  left: 6px;
  font-weight: 400;
  text-transform: lowercase;
}

.plan-features {
  padding: 0.75em 2.25em 1.5em;
  text-align: left;
}

.plan-features li i {
  text-align: right;
  float: right;
}

.plan-features li {
  border-bottom: 1px dotted #ddd;
  padding: 12px 0;
  color: #888;
}

.buy-button { padding: 0 1.5em 1.5em; }

.buy-button .button {
  background: #fff;
  color: #cc0000;
}

/* ==========================================================================
   author
   ========================================================================== */

.author { text-align: center; }

img.author-img {
  border-radius: 4px;
  margin-bottom: 3em;
}

.author h4 {
  margin-top: 0;
  font-weight: 700;
  color: #cc0000;
}

.signature { margin: .75em 0; }

.author .social { margin-top: 1.5em; }

.social li {
  display: inline-block;
  padding-right: .8em;
  text-align: center;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  border-radius: 50%;
  background: #cc0000;
  position: relative;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.social li a:hover {
  color: #fff;
  background: #cc0000;
}

/* ==========================================================================
   Buy Now
   ========================================================================== */
   
.buy-now {
  padding: 4.5em 0;
  background: #cc0000;
}

.buy-now .button.buy {
  color: #fff;
  border: 1px solid #fff;
  padding: 1.125em 4em;
}

.buy-now .button.buy:hover { box-shadow: 0 0 0 1px #fff; }

/* ==========================================================================
   Twitter feed
   ========================================================================== */


.center-block { float: none; }

.twitter-feed h2 { margin: 0; }

.twitter-icon .fa-twitter {
  color: #cc0000;
  padding: 24px 0 12px;
  font-size: 3em;
}

.tweet { font-size: 18px; }

/* ==========================================================================
   Map
   ========================================================================== */


#map-canvas {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 30em;
}

#map-canvas img { max-width: none; }

.address { padding: 3em 0; }

.address li i {
  color: #cc0000;
  display: block;
  font-size: 3em;
}

.address p { margin-bottom: 0; }

.address li { padding-bottom: 1.5em; }

.address li:last-child { padding-bottom: 0; }

/* ==========================================================================
   Contact
   ========================================================================== */
 
.contact.section-spacing { padding: 4.5em 0 0; }

.contact-form { margin-bottom: 3em; }

.contact-form label.error {
  margin-bottom: 1.5em;
  font-weight: 300;
  color: #ea5050;
}

.contact .btn-default { width: 100%; }

/* ==========================================================================
   contact Form Validation
   ========================================================================== */
   

.contact-form label.error i { padding-right: 8px; }

.success-cf,
.error-cf { display: none; }

.contact-form .success-cf p,
.contact-form .error-cf p {
  position: absolute;
  display: block;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  width: 80%;
  margin: 0 auto;
}

.contact-form .form-control.error {
  border-color: #E7BEBE;
  color: #D95C5C;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  box-shadow: .3em 0 0 0 #D95C5C inset;
  margin-bottom: .75em;
}

.contact-form .form-control.error:focus {
  border-color: #ff5050;
  color: #ff5050;
  box-shadow: .3em 0 0 0 #FF5050 inset;
}

.contact-form .valid { border-color: #2ecc71; }

/* ==========================================================================
   footer
   ========================================================================== */


.site-footer.section-spacing { padding: 4.5em 0; }

.site-footer small {
  margin: 1.5em 0 .75em;
  display: inline-block;
  color: #888;
}

.site-footer .social li a {
  background: transparent;
  color: #cc0000;
  border: 1px solid #cc0000;
}

.site-footer .social li a:hover {
  color: #fff;
  background: #cc0000;
  border: 1px solid #cc0000;
}

.modal-header {
  background: #cc0000;
  position: relative;
  min-height: 0;
  padding: 1.5em 1em;
}

.modal-title {
  color: #FFF;
  font-weight: 700;
}

button.close {
  color: #cc0000;
  opacity: 1;
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  position: absolute;
  right: 16px;
}

.close:hover,
.close:focus {
  color: #2980b9;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

.modal-body { padding: 1.5em; }

/* ==========================================================================
   scroll top
   ========================================================================== */
   
.scroll-top { margin-bottom: 0; }

.scroll-top a {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  padding: .8em 1em;
  display: none;
  z-index: 200;
  border-radius: 50%;
  -webkit-transition: background .5s linear;
  transition: background .5s linear;
}

.scroll-top a:hover { background: #cc0000; }

/* ==========================================================================
   Small devices (tablets, 768px and up)
   ========================================================================== */
   
@media (min-width: 768px) {

.hero { padding: 3em 0 6em; }

.logo { text-align: inherit; }

.hero h1 {
  font-size: 48px;
  line-height: 1.35;
}

section header h3 { font-size: 21px; }

.button { width: auto; }

.learn-more {
  margin-right: 1em;
  margin-bottom: 0;
}

.counter div[class^="col-"]:nth-child(1),
.counter div[class^="col-"]:nth-child(2) { padding-bottom: 0; }

blockquote { font-size: 22px; }

.buy-now .button.buy { padding: 1.125em 6em; }

.address li { padding-bottom: 0; }
}

/* ==========================================================================
   Medium devices (desktops, 992px and up) 
   ========================================================================== */
   
@media (min-width: 992px) {

.hero {
  padding: 3em 0 6em;
  text-align: left;
}

.logo { margin-bottom: 3em; }

.book-cover { margin-top: 0; }

.hero h1 {
  font-size: 73.981px;
  font-weight: 700;
  line-height: 1.1;
}

.hero h2 { font-size: 20.25px; }

.welcome-message { margin: 4.5em 0 3em; }

.section-spacing,
.section-spacing.prices { padding: 6em 0; }

.features.section-spacing { padding: 6em 0 3.75em; }

.reviews.section-spacing { padding: 6em 0 9em; }

blockquote .fa-quote-left,
blockquote .fa-quote-right { font-size: 1.5em; }

blockquote .fa-quote-left { left: -50px; }

blockquote .fa-quote-right { right: -50px; }

#mc-form { margin-top: 6em; }

.plan { margin-bottom: 0; }

.author { text-align: left; }

img.author-img { margin-bottom: 0; }

.contact.section-spacing { padding: 6em 0 0; }

.contact .btn-default {
  width: auto;
  padding: 12px 5em;
}

/* ==========================================================================
   Preloader styles
   ========================================================================== */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 9999;
  height: 100%;
  height: 100%;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(../img/load.gif) no-repeat center center;
  margin: -170px 0 0 -100px;
}
}

@media (min-width: 992px) and (max-width: 1203px) {

.action-button a { width: 90%; }

.learn-more {
  margin-right: 0;
  margin-bottom: .75em;
}
}






/*! bootstrap-progressbar v0.9.0 | Copyright (c) 2012-2015 Stephan Groß | MIT license | http://www.minddust.com */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  overflow: hidden;
  height: 50px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress {
  position: relative;
}
.progress .progress-bar {
  position: absolute;
  overflow: hidden;
  line-height: 50px;
}
.progress .progressbar-back-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 50px;
  text-align: center;
}
.progress .progressbar-front-text {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.progress.right .progress-bar {
  right: 0;
}
.progress.right .progressbar-front-text {
  position: absolute;
  right: 0;
}
.progress.vertical {
  width: 20px;
  height: 100%;
  float: left;
  margin-right: 20px;
}
.progress.vertical.bottom {
  position: relative;
}
.progress.vertical.bottom .progressbar-front-text {
  position: absolute;
  bottom: 0;
}
.progress.vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.progress.vertical.bottom .progress-bar {
  position: absolute;
  bottom: 0;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 50px; /* line-height should be equal to bar height */
  overflow: hidden;
  color: #000;
  right: 0;
  left: 0;
  top: 0;
}
